fun_app/node_modules
fun_app/.expo
fun_app/dist
fun_app/web-build
cool_app/node_modules
cool_app/.expo
cool_app/dist
cool_app/web-build
StickerSmash/node_modules
StickerSmash/.expo
StickerSmash/dist
StickerSmash/web-build
StickerSmash1/node_modules
StickerSmash1/.expo
StickerSmash1/dist
StickerSmash1/web-build
linksdaily/node_modules
linksdaily/.expo
linksdaily/dist
linksdaily/web-build
